In [2]:
import pandas as pd
excel_path = 'C:/Users/User/Desktop/bacnet-to-modbus/Lista_de_Registros.xlsx'
df = pd.read_excel(excel_path)
df

,ID,IP,Address,Nombre equipo,Marca equipo,Sede equipo,Register number,Register type
0,1,10.84.67.185,1,AC_01,LG,Open Plaza Angamos,0x0010,0
1,1,10.84.67.185,1,AC_01,LG,Open Plaza Angamos,0x0011,1
2,1,10.84.67.185,1,AC_01,LG,Open Plaza Angamos,0x0012,2
3,1,10.84.67.185,1,AC_01,LG,Open Plaza Angamos,0x0015,3
4,1,10.84.67.185,1,AC_01,LG,Open Plaza Angamos,0x0016,4
...,...,...,...,...,...,...,...,...
85,18,10.84.67.185,30,AC_30,LG,Open Plaza Angamos,0x0300,0
86,18,10.84.67.185,30,AC_30,LG,Open Plaza Angamos,0x0301,1
87,18,10.84.67.185,30,AC_30,LG,Open Plaza Angamos,0x0302,2
88,18,10.84.67.185,30,AC_30,LG,Open Plaza Angamos,0x0305,3
89,18,10.84.67.185,30,AC_30,LG,Open Plaza Angamos,0x0306,4